<figure>
  <blockquote class='blockquote'>
    <p>{{content}}</p>
  </blockquote>
  <figcaption class='blockquote-footer'>
    {{user.username}}
    <cite title='Date created'>{{moment createdAt 'dddd, MMMM D, YYYY'}}</cite>
  </figcaption>
</figure>