<div class="row">
  <div class="d-grid gap-2 mb-3">
    <button class="btn btn-primary btn-lg" type="button" id="showPostForm">Add new post</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12 post-list">
    <h2>Your posts</h2>
    {{#each posts as |post|}}
    <div class="row">
      <div class="col-md-2 mb-2">
        <button class="btn btn-sm btn-danger mb-1" data-id="{{post.id}}">Delete</button>
        <a class="btn btn-sm btn-warning mb-1" href="/dashboard/{{post.id}}" data-update-id="{{post.id}}">Update</a>
      </div>
      <div class="col-md-10">
        {{> post-details}}
        </div>
      </div>
      <hr>
    {{/each}}
  </div>
</div>


<script src='/js/post.js'></script>
<script>document.querySelector('#showPostForm').addEventListener('click', displayPostForm);
document
  .querySelector('.post-list')
  .addEventListener('click', delButtonHandler);
</script>