<div class="row">
  <div class="d-grid gap-2">
    <button class="btn btn-primary btn-lg" type="button" id="showPostForm">Add new post</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12 post-list">
    <h2>Your posts</h2>
    {{#each posts as |post|}}
      <div>
        <button class="btn btn-sm btn-danger" data-id="{{post.id}}">Delete</button>
        <button class="btn btn-sm btn-warning" data-update-id="{{post.id}}">Update</button>
        {{> post-details}}</div>
    {{/each}}
  </div>
</div>


<script src='/js/post.js'></script>
<script>document.querySelector('#showPostForm').addEventListener('click', displayPostForm);</script>